 <div class="hidden-md col-xs-12" id="hidden-spacer">
        
    </div>
			
			<div class="container-fluid content-page">
				<div class="message-inbox">
						<div class="row">

							<form>
							<div class="col-lg-4 mbtm30">
							<h4 class="title">message</h4>
							<ul>
								<li>
									<div class="head-top">
										<div class="form-group pull-left">
											<input type="checkbox">
											<label>Buyer Name	</label>
										</div>
										<div class="form-group pull-right">
											<button class="btn btn-primary btn-size-small btn-hollow">Reply</button>
										</div>
									</div>	
									<div class="message-container">
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.
									</div>
								</li>
								<li>
									<div class="head-top">
										<div class="form-group pull-left">
											<input type="checkbox">
											<label>Buyer Name	</label>
										</div>
										<div class="form-group pull-right">
											<button class="btn btn-primary btn-size-small btn-hollow">Reply</button>
										</div>
									</div>	
									<div class="message-container">
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.
									</div>
								</li>
							</ul>

							<div class="form-group text-left">
							<button class="btn btn-primary btn-size-small btn-hollow">Mark as Solved</button>
							</div>

							<nav>
							  <ul class="pagination">
							    <li>
							      <a href="#" aria-label="Previous">
							        <span aria-hidden="true">&laquo;</span>
							      </a>
							    </li>
							    <li><a href="#">1</a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
							      <a href="#" aria-label="Next">
							        <span aria-hidden="true">&raquo;</span>
							      </a>
							    </li>
							  </ul>
							</nav>
							</div>

							<div class="col-lg-8 mbtm30">
								<h4 class="title">Reply messages</h4>
								<form>
								<ul class="message-action">
									<li class="people">
										<div class="name">you</div>
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu
									</li>
									<li class="self">
										<div class="name">customer</div>
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu
									</li>
								</ul>	
								<div class="form-group">
								<textarea class="form-control" rows="3" placeholder="your message here..."></textarea>
								</div>
								<div class="form-group pull-right">
									<button class="btn btn-primary btn-size-small btn-hollow">attached image</button>
									<button class="btn btn-primary btn-size-small btn-hollow">send </button>
								</div>								
								</form>
							</div>
							</form>

						</div>
				</div>		
			</div>
