
.force-white
{
  color: @color-white;
}
body
{
  background: @color-white;
  overflow-x: hidden;
  padding-bottom: 50px !important;
}
.nopadding
{
  padding: 0 !important;
}
.spacer20
{
  padding-top: 10px;
  padding-bottom: 10px;
}
.spacer40
{
  padding-top: 20px;
}
.allspacer25
{
  padding: 25px;
}
.spacer60
{
  padding-top: 30px;
  padding-bottom: 30px;
}
.nomargin
{
  margin:0;
}
#moxy-logo
{
  margin: @put-mid;
}
#hidden-spacer
{
  margin-bottom: 60px;
}
.margin-top-20
{
  margin-top: 20px;
}
.bottom-spacer
{
  margin-bottom: 10px;
}
.bottom-spacer-container
{
  margin-bottom: 20px;
}
.bottom-spacer-bigger
{
  margin-bottom: 30px;
}
.left-spacer-container
{
  margin-left: 20px;
}
.bottom-spacer-button
{
  margin-bottom: 12px;
}
.navmenu .navmenu-nav>li:hover
{
  background:#383837;
}
.mrgt10
{
  margin-right: 10px;
}
.mrgtb20
{
  margin: 20px 0;
}
.paddtb10
{
  padding: 10px 0;
}
.content-page{
  padding-top: 40px;
}
.add-products
{

  color: @color-grey-2;
  font-size: @font-size-regular - 1;
  font-family: 'Montserrat' Arial, sans-serif;
  padding: 33px 0;
  font-weight: bold;
  line-height: 22px;
  cursor: pointer;
  border: 1px solid @color-grey-3;

  &:hover
  {
    background: lighten(@color-black, 20%);
    color: @color-white;
  }
}
.main-number
{
  font-size: @font-size-regular + 10;
}
.propic
{
  border-radius: 100%;
  height: 60px;
  background-color: #ccc; 
  width: 60px;overflow:hidden;
  margin-top: 10px;
}
#profil-data
{
  margin-left: 20px
}
.bordering
{
  border: 1px solid #ccc;
}
.in-block
{
  display: inline-block;
}
.full-width
{
  width: 100%;
}
.table-scroll
{
  max-height: 174px;
  overflow-y: scroll;
}
.table-scroll-tracking
{
  max-height: 170px;
  overflow-y: scroll;
}
.table-scroll-cancel
{
  min-height: 216px;
  max-height: 216px;
  overflow-y: scroll;
}
.side-padder
{
  padding: 0 8px;
}
.elipsis
{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.divider-bottom
{
  border-bottom: 1px solid @color-grey-5;
}
.checkbox-top-spacer
{
  margin-top: 8px;
}
.container-fluid,.container{
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .3);
  }
}

.footer{
  margin-top: 30px;
  padding-top: 10px;
  border-top: #cacaca 1px solid;
  background: @color-grey-4;
}
.nopaddingleft
{
  padding-left: 0;
}
.nopaddingright
{
  padding-right: 0;
}
.dash-bar
{
  background: @color-dashboard-bar !important;
  color: #fff !important;
  border-radius: 0 !important;	
}
.fa-colored
{
  color: #02c0cc;
  font-size: 30px;
}
.order-notif
{
  vertical-align: middle;
  display: inline-table;
  margin-top: -11px;
}
.colorfa
{
  color: @color-fa;
}
.middler
{
  vertical-align: middle;
}
.profile-height
{
  min-height: 181px;
}
.add-icons
{
  font-size: 28px;
}
.bolder
{
  font-weight: bold;
}
.your-detail
{
  min-height: 659px;
}
.noradius
{
  border-radius: 0;
}
label.input-error
{
	font-size: 12px;
	color: #a94442;
	padding: 5px 0 0 10px;
	font-weight: bold;
	font-family: 'Helvetica', sans-serif;
}
.detail-order
{
  text-transform: capitalize;
  font-size: 13px;
}
.row.breadcrumbs
{
  margin: 0px -6px 0 -6px;
}
.min-120
{
  min-width:120px;
}
.min-90
{
  min-width:90px;
}
.light-font
{
  font-weight: 300;
}
.pink-font
{
  color: @color-dashboard-bar;
}
.col-middler
{
    float: none !important;
    margin: 0 auto;
}
.img-prod
{
    min-height: 249px;
    vertical-align: middle;
    max-width: 249px;
}
.additional-index-tab
{
    color: #73777a;
    font-size: 13px;
    font-family: 'Montserrat' Arial, sans-serif;
    padding: 33px 0;
    font-weight: bold;
    line-height: 22px;
    cursor: pointer;
    border: 1px solid #bbbbbb;
}
.additional-index-tab .number-text
{
    font-size: 20px;
    color: #EE5191;
    font-weight: 700;
}

.register-legend
{
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
    margin: 0;
    text-align: left;
    margin: 30px 0 15px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border-left: 4px solid @color-dashboard-bar;
    color: @color-dashboard-bar;
}
.register-field
{
  padding: 20px;
}
.noverflow
{
  overflow: hidden;
}
.card-shadow
{
  box-shadow: 0px 3px 3px #3C3C3C;
}
a.terms
{
  color: @color-dashboard-bar;
}
.badge.dash
{
    background-color: #B53F6F;
    border-radius: 4px;
    margin-left: 9px;
    padding: 4px 8px;
}
.fonter-bot
{

    font-size: 13px;
    font-family: 'Montserrat',sans-serif;
    color: #989898;
    text-align: center;
    margin: 0 auto 30px;
    width: 100%;
    position: relative;
    display: inline-block;
}
.fonter-cross
{
    font-size: 23px;
    top: 0;
    position: absolute;
    font-weight: bold;
    color: #EE5191;
    height: 23px;
    width: 23px;
    text-align: center;
    line-height: 1;
    right: -10px;
}
.fonter-file
{
    font-size: 40px;
    color: #b1b1b1;
}
.fonter
{

    position: relative;
    margin: 40px auto 10px auto;
    width: 36px;
}
.commission-cont
{
    text-align: center;
    background-color: #F5F5F5;
    float: right;
    padding: 10px 0;
    font-family: 'Montserrat',sans-serif;
}
span.commission-percent
{
  color: #E8548D;
  font-weight: bold;
  font-family: 'Montserrat',sans-serif;
}
h4.commission-amount
{
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  color: #E8548D;
}
p.commission-exp
{
    font-size: 12px;
}
.input-group.cont-alone
{
      margin-top: 20px;
    border-radius: 4px;
        border: 1px solid #CCC;
    outline: none;
}
.addon-num
{
      padding: 7px 13px;
    background-color: #EEE;
    width: auto;
    float: left;
    border-right: 1px solid #CCC;
      border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.area-alone
{
      outline: none;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    float: left;
}
.input-alone
{
      border: none;
    width: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.muth-phone .form-group label.input-error
{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 36px;
}
.border-rad-4
{
  border-radius: 4px;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input
{
    width: 339px;
    padding-left: 65px;
    border: 1px solid #ccc;
    height: 30px;
    border-radius: 5px;
    padding-top: 6px;
    padding-right: 15px;
    display: inline-block;
    background-color: #FFFFFF;
    outline: none;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 6px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  margin-left: -65px;
  margin-top: -7px;
}
.custom-file-input::after {
  margin-left: 100px;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.upload-container
{
    background-color: #f5f5f5;
    padding: 100px 0;
    margin-top: 4%;
    margin-bottom: 4%;
    box-shadow: 0px 3px 6px #8A8A8A;
}
input:focus {
  outline-width: 0;
}

input.nostyle:focus {
  outline-width: 5px;
}

.footer {
    margin-top: 30px;
    padding-top: 10px;
    border-top: #cacaca 1px solid;
    background: #e7e7e7;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 99;
}
.upload-title
{
  font-size: 17px;
  font-family: 'Montserrat',sans-serif;
  margin: 10px 0;
  display: inline-block;
}
select::-ms-expand {
            width:12px;
            border:none;
            background:#fff;
            -moz-appearance: none;
        }
.nomoz
{
   -moz-appearance: none;
}
.upload-label
{
    width: 100%;
    margin-bottom: 15px;
    border-left: 7px solid #EC3C7A;
    padding: 6px;
}
// .container .text-muted {
  //   margin: 20px 0;
// }
