.dropdown-part
{

}
.texting-mid-form
{
  margin-top: 7px;
}
.right-spacer
{
  margin-right: 10px;
}	
.bottom-bordering
{
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.nomargin
{
  margin: 0;
}
.transparent-input
{
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}
.transparent-input:focus{
  outline: 0;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;

}
.addmore
{
  margin: 0 0 10px 0;
}
.maximum-width
{
  max-width: 100%;
}
.btn-change-pic
{
  margin-top: 26px;
  margin-left: 45px;
}

.drop-custom
{
  height: 35px;
  margin-right: 10px;
}

label.text-title{
border-left: @color-primary solid 5px;
padding: 7px 5px;	 
margin-bottom: 10px;
width: 100%;
}
.form-group.framebox{
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: solid 1px #cccccc;
	@media(max-width:800px){
		.form-control{
  	margin-bottom: 10px;
  	}
		.frame-row{
		margin-bottom: 30px;	
		}
		.frame-group{
			label{
		font-weight: normal;		
		text-align: center;	
		width: 100%;
			}
		}
	}
	.form-inline{
		display: inline-block;
		width: 100%;
	}

	select.form-control{
		min-width: 100px;
	}
}
.modal-dialog{
	.form-group.framebox{
		  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: solid 1px #cccccc;
	}
	.modal-header{
		background: #e7e7e7;
	}
	.form-control{
		width:100%;
		max-width: 130px;
	}
}
.fileUploadImg{
	margin-right: 15px;
	margin-bottom: 20px;
}
output#result{
display: inline;
padding-top: 0px;
	.frame-thumbnail{
	position: relative;	
    width: 120px;
    height: 120px;
    display: inline-block;
    padding: 5px;
    text-align: center;
    line-height: 120px;
    margin-right: 15px;
    margin-bottom: 20px;
    border: #cccccc solid 1px;
    .set-primary{
    display: none;	
    top: 35%;
    position: absolute;
    font-size: 11px;
    padding: 3px 5px;
    text-align: center;
    left: 8%;
    width: auto;
    }
    &:hover{
    	opacity: 0.8;
    	.set-primary{
    		opacity: 1;
    		display: inline-block;
    	}
    }
    .bt-delete{
	cursor: pointer;
	position: absolute;
	right: -10px;
	z-index: 1;
	top: -10px;
	background-color: #B40001;
	padding: 5px 6px;
	color: #fff;
	-webkit-border-radius: 30px 30px 30px 30px;
	border-radius: 30px 30px 30px 30px;
	font-size: 12px;
    }
		&:last-child{
		margin-right: 0;
		}
		.thumbnail-upload{
		width: 100%;
		height: 100%;
		display:block;
 	    vertical-align: middle;
		}	
	}
}
