.dropdown-part
{

}
.texting-mid-form
{
  margin-top: 7px;
}
.right-spacer
{
  margin-right: 10px;
}	
.bottom-bordering
{
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.nomargin
{
  margin: 0;
}
.transparent-input
{
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}
.transparent-input:focus{
  outline: 0;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;

}
.addmore
{
  margin: 0 0 10px 0;
}
.maximum-width
{
  max-width: 100%;
}
.btn-change-pic
{
  margin-top: 26px;
  margin-left: 45px;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.drop-custom
{
  height: 35px;
  margin-right: 10px;
}

.text-title{
border-left: @color-primary solid 5px;
padding: 7px 5px;	 
}
.form-group.framebox{
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: solid 1px #cccccc;
}
