<div class="hidden-sm hidden-lg col-xs-12" id="hidden-spacer"></div>

<div class="container-fluid content-page">
  <div class="row breadcrumbs">
    <ol class="breadcrumb">
      <li><a href="#">Back</a>
      </li>
      <li class="active">Settlement ID #8493885938</li>
    </ol>
  </div>
  <div class="row">
   <div class="col-lg-4 col-sm-4 col-md-4 side-padder">
    <div class="col-lg-12 col-sm-12 col-md-12 nopadding">
      <div class="col-lg-12 col-md-12 col-sm-12 spacer20 dash-bar">
        <label for="exampleInputEmail1" class="in-block nomargin">Settlement Detail</label>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 bordering spacer20 bottom-spacer-container">
        <div class="col-lg-12 nopadding in-block">
          <h4 id="profil-data">Settlement ID <span class="pink-font"> &nbsp; #8493885938</span></h4>
          <h6 id="profil-data"> <span class="in-block min-120">Total Order</span>: &nbsp;<span class="detail-order pink-font">24 </span></h6>
          <h6 id="profil-data"> <span class="in-block min-120">Range Date</span>: &nbsp;<span class="detail-order pink-font"><strong>1-11-2015 - 13/11/2015  </strong></span></h6>
          <h6 id="profil-data"> <span class="in-block min-120">Settlement Status</span>: &nbsp;<span class="detail-order pink-font"><strong> Paid </strong></span></h6>
          <h6 id="profil-data"> <span class="in-block min-120">Settlement Ammount</span>: &nbsp;<span class="detail-order pink-font"><strong> Rp. 8.000.000 </strong></span></h6>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-sm-12 col-md-12 nopadding">
      <div class="table-responsive bordering">
       <div class="panel-heading dash-bar">Settlement Orders</div>
        <table class="table">

          <thead>
            <tr>
              <th>No.</th>
              <th>Order Numbers</th>
              <th>Date</th>
              <th>Status</th>
              <th>Total Settlement</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1
              </td>
              <td><a href="#"> #83987499303</a>
              </td>
              <td>22/2/2015</td>
              <td>Paid</td>
              <td class="type-price">79.000</td>
            </tr>
            <tr>
              <td>2
              </td>
              <td><a href="#"> #83987499303</a>
              </td>
              <td>22/2/2015</td>
              <td>Canceled</td>
              <td class="type-price">79.000</td>
            </tr>
            <tr>
              <td>3
              </td>
              <td><a href="#"> #83987499303</a>
              </td>
              <td>22/2/2015</td>
              <td>Paid</td>
              <td class="type-price">79.000</td>
            </tr>
            <tr>
              <td>4
              </td>
              <td><a href="#"> #83987499303</a>
              </td>
              <td>22/2/2015</td>
              <td>Paid</td>
              <td class="type-price">79.000</td>
            </tr>
            <tr>
              <td>5
              </td>
              <td><a href="#"> #83987499303</a>
              </td>
              <td>22/2/2015</td>
              <td>Canceled</td>
              <td class="type-price">79.000</td>
            </tr>
            <tr>
              <td>6
              </td>
              <td><a href="#"> #83987499303</a>
              </td>
              <td>22/2/2015</td>
              <td>Paid</td>
              <td class="type-price">79.000</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-sm-8 col-md-8 side-padder">
    <div class="table-responsive bordering">
       <div class="panel-heading dash-bar">Order Number #83987499303 </div>
        <table class="table">

          <thead>
            <tr>
              <th>No.</th>
              <th>Item Name</th>
              <th>SKU</th>
              <th>Qty</th>
              <th>Settlement</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1
              </td>
              <td>Cottage Shower Gel with Kiwi extracts 750 ML
              </td>
              <td>IDLFCot0006342</td>
              <td>29</td>
              <td class="type-price">79.000</td>
            </tr>
            <tr>
              <td>2
              </td>
              <td>Cottage Shower Gel with Kiwi extracts 750 ML
              </td>
              <td>IDLFCot0006342</td>
              <td>20</td>
              <td class="type-price">79.000</td>
            </tr>
            <tr>
              <td>3
              </td>
              <td>Cottage Shower Gel with Kiwi extracts 750 ML
              </td>
              <td>IDLFCot0006342</td>
              <td>29</td>
              <td class="type-price">79.000</td>
            </tr>
            <tr>
              <td>4
              </td>
              <td>Cottage Shower Gel with Kiwi extracts 750 ML
              </td>
              <td>IDLFCot0006342</td>
              <td>29</td>
              <td class="type-price">79.000</td>
            </tr>
            <tr>
              <td>5
              </td>
              <td>Cottage Shower Gel with Kiwi extracts 750 ML
              </td>
              <td>IDLFCot0006342</td>
              <td>6</td>
              <td class="type-price">79.000</td>
            </tr>
            <tr>
              <td>6
              </td>
              <td>Cottage Shower Gel with Kiwi extracts 750 ML
              </td>
              <td>IDLFCot0006342</td>
              <td>29</td>
              <td class="type-price">79.000</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>