<div class="row">
  <div class="result-table">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="col-md-9 date-picker ">
          <span class="small">Search by Date from:</span>
          <div class="clearfix"></div>
          <input type="date" class="form-control" id="DateInputFrom" placeholder="dd/mm/yyyy">
          <label>To</label>
          <input type="date" class="form-control" id="DateInputTo" placeholder="dd/mm/yyyy">
          <input type="text" class="form-control" placeholder="Search for...">
        </div>
      </div>
      <div class="panel-body" data-role="page" id="page1">
        <div id="myTabContent" class="tab-content">
          <div role="tabpanel" class="tab-pane fade active in" id="dropdown1" aria-labelledby="dropdown1-tab">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Check</th>
                  <th>No.</th>
                  <th>Settlement Numbers</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Total Settlement</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>
                    <input type="checkbox" name="set-name" value="point">
                  </th>
                  <td>1</td>
                  <td><a href="#"> #83987499303</a>
                  </td>
                  <td>22/2/2015</td>
                  <td>Paid</td>
                  <td class="type-price">79.000</td>
                </tr>
                <tr>
                  <th>
                    <input type="checkbox" name="set-name" value="point">
                  </th>
                  <td>2</td>
                  <td><a href="#"> #83987499303</a>
                  </td>
                  <td>22/2/2015</td>
                  <td>Canceled</td>
                  <td class="type-price">79.000</td>
                </tr>
                <tr>
                  <th>
                    <input type="checkbox" name="set-name" value="point">
                  </th>
                  <td>3</td>
                  <td><a href="#"> #83987499303</a>
                  </td>
                  <td>22/2/2015</td>
                  <td>Paid</td>
                  <td class="type-price">79.000</td>
                </tr>
              </tbody>
            </table>
            <div class="form-group bottom-right pull-right nomargin">
              <button class="btn btn-hollow btn-size-small">Print</button>
              <button class="btn btn-hollow btn-size-small">Export Data</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>