{{#if session.isAuthenticated}}
{{partial 'navigation' }}
<div class="col-xs-12" id="hidden-spacer"></div>
<div class="container-fluid container-spacer">
  {{outlet}}
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">Bilna by Orami 2016</p>
  </div>
</footer>
{{else}}
  {{outlet}}
{{/if}}
