{{#if session.isAuthenticated}}
{{partial 'navigation' }}
<div class="col-xs-12" id="hidden-spacer"></div>
<div class="container-fluid">
  {{outlet}}
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">Moxy 2015</p>
  </div>
</footer>
{{else}}
  {{outlet}}
{{/if}}
