<div class="hidden-md hidden-lg col-xs-12" id="hidden-spacer"></div>

<div class="container-fluid content-page">
	<div class="row">
		<div class="col-lg-4 col-sm-4 col-md-4 side-padder">
		<div class="col-lg-12 col-md-12 col-sm-12 spacer20 dash-bar">
				<label for="exampleInputEmail1" class="in-block">My Profile</label>
				<div class="col-lg-6 col-xs-2 col-md-6 col-sm-4 nopadding pull-right">
					<a href="profilpage.html">
						<div class="btn btn-dash btn-size-small pull-right nomargin">Edit</div>
					</a>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 bordering spacer20 bottom-spacer-container profile-height">
				<div class="col-lg-2 col-xs-4 col-sm-3 nopadding propic in-block">
					<img src="assets/img/thumb.png" width="100%">
				</div>
				<div class="col-lg-9 nopadding in-block">
					<h6 id="profil-data">Name : Seller 1</h6>
					<h6 id="profil-data">Member since : 12/5/2015</h6>
					<h6 id="profil-data">Total sales : 200</h6>
					<h6 id="profil-data">Name : Seller 1</h6>
					<h6 id="profil-data">Member since : 12/5/2015</h6>
					<h6 id="profil-data">Total sales : 200</h6>
				</div>
				
			</div>
		</div>
		<div class="col-lg-8 col-sm-8 col-md-8 side-padder">
			<a href="uploads-item.html">
			<div class="col-lg-3 col-md-3 col-sm-3 text-center  nopaddingleft  hidden-xs bottom-spacer-button">
			<div class="wrapper-box add-products">
				<i class="fa fa-plus-circle colorfa add-icons"></i> <br>Add products
			</div>
			</div>
		</a>
		<a href="manager-order.html">
			<div class="col-lg-3 col-md-3 col-sm-3 text-center  nopaddingleft  hidden-xs bottom-spacer-button">
			<div class="wrapper-box add-products">
			<i class="fa fa-shopping-cart colorfa add-icons"></i> <br>	New Order
			</div>
			</div>
		</a>
		<a href="list-sales.html">
			<div class="col-lg-3 col-md-3 col-sm-3 text-center  nopaddingleft  hidden-xs bottom-spacer-button">
			<div class="wrapper-box add-products">
				<i class="fa fa-bar-chart colorfa add-icons"></i> <br>Overal Sales
			</div>
			</div>
		</a>
		<a href="manager-order.html">
			<div class="col-lg-3 col-md-3 col-sm-3 text-center  nopaddingleft  hidden-xs bottom-spacer-button">
			<div class="wrapper-box add-products">
				<i class="fa fa-file-text colorfa add-icons"></i> <br>Generate Report
			</div>
			</div>
		</a>
		<div class="col-lg-6 col-md-6 col-sm-6  wrapper-outer nopaddingleft bottom-spacer-container">
			<div class="wrapper-box bordering spacer60">	
				<a href="manager-order.html">
					<div class="row ">
						<div class="col-lg-12 col-xs-12 col-sm-12 nopadding in-block full-width text-center colorfa nopadding bolder">
							<span class="main-number middler">13</span> &nbsp; inactive products
						</div>
					</div>
				</a>
			</div>
			</div>	
			<div class="col-lg-6 col-md-6 col-sm-6  wrapper-outer nopaddingleft bottom-spacer-container">
			<div class="wrapper-box bordering spacer60">	
				<a href="manager-order.html">
					<div class="row ">
						<div class="col-lg-12 col-xs-12 col-sm-12 nopadding in-block full-width text-center colorfa nopadding bolder">
							<span class="main-number middler">13</span> &nbsp; inactive products
						</div>
					</div>
				</a>
			</div>
			</div>
		</div>
	</div>
<!--	second row-->
<div class="row">
		<div class="col-lg-4 col-sm-4 col-md-4 side-padder">
		<div class="col-lg-12 col-md-12 col-sm-12 spacer20 dash-bar">
				<label for="exampleInputEmail1" class="in-block">Overall Sales</label>
				<div class="col-lg-6 col-xs-2 col-md-6 col-sm-4 nopadding pull-right">
					<a href="profilpage.html">
						<div class="btn btn-dash btn-size-small pull-right nomargin">Details</div>
					</a>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 bordering spacer20 bottom-spacer-container in-block full-width">
				<div class="col-lg-4 col-xs-4 col-sm-3 nopadding propic in-block">
					<img src="assets/img/thumb.png" width="100%">
				</div>
			</div>
		</div>
		<div class="col-lg-8 col-sm-8 col-md-8 side-padder">
		<div class="col-lg-6 col-sm-12 col-md-12 nopaddingleft wrapper-outer">
		<div class="col-lg-12 col-md-12 col-sm-12 spacer20 dash-bar">
				<label for="exampleInputEmail1" class="in-block">New Order</label>
				<div class="col-lg-6 col-xs-2 col-md-6 col-sm-4 nopadding pull-right">
					<a href="profilpage.html">
						<div class="btn btn-dash btn-size-small pull-right nomargin">Details</div>
					</a>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 bordering spacer20 bottom-spacer-container in-block full-width">

				<div class="col-lg-6 col-xs-6 col-sm-6 nopadding in-block pull-left text-left bottom-spacer">
					<i class="fa fa-certificate fa-colored"></i> &nbsp; <span class="order-notif">1 new order</span>
				</div>
				<div class="col-lg-12 col-xs-12 col-sm-12 nopadding in-block full-width">
					<div class="table-responsive table-scroll bottom-spacer">
						<table class="table table-striped table-responsive">
							<thead>
								<tr>
									<th>No</th>
									<th>Product Name</th>
									<th>Buyer</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">1</th>
									<td>Ray ban erika</td>
									<td>User 1</td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>Column lorem ipsum bla bla blas</td>
									<td>Column</td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>Column lorem ipsum bla bla blas</td>
									<td>Column</td>
								</tr>
								<tr>
									<th scope="row">4</th>
									<td>Column lorem ipsum bla bla blas</td>
									<td>Column</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-sm-12 col-md-12 nopaddingleft wrapper-outer">
		<div class="col-lg-12 col-md-12 col-sm-12 spacer20 dash-bar">
				<label for="exampleInputEmail1" class="in-block">Cancel Order Request</label>
				<div class="col-lg-6 col-xs-2 col-md-6 col-sm-4 nopadding pull-right">
					<a href="profilpage.html">
						<div class="btn btn-dash btn-size-small pull-right nomargin">Details</div>
					</a>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 bordering spacer20 bottom-spacer-container in-block full-width">
				<div class="col-lg-12 col-xs-12 col-sm-12 nopadding in-block full-width">
					<div class="table-responsive table-scroll-cancel bottom-spacer">
						<table class="table table-striped table-responsive">
							<thead>
								<tr>
									<th>No</th>
									<th>Product Name</th>
									<th>Buyer</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">1</th>
									<td>Ray ban erika</td>
									<td>User 1</td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>Column lorem ipsum bla bla blas</td>
									<td>Column</td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>Column lorem ipsum bla bla blas</td>
									<td>Column</td>
								</tr>
								<tr>
									<th scope="row">4</th>
									<td>Column lorem ipsum bla bla blas</td>
									<td>Column</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
<!--	end of second row-->

</div>

