
<div class="hidden-md hidden-lg col-xs-12 lost" id="hidden-spacer"></div>
<div class="container-fluid content-page">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
		<a href="/">
			<img src="assets/img/lost.jpg" width="100%">
		</a>
	</div>
</div>